* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.container {
  background: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.container-container {
  background-color: rgba(0, 0, 0, 0.3);

  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 4fr 1fr 1fr;
}
.container-current {
  grid-column: 1/4;
  display: flex;
}
.current-deel {
  width: 33.333%;
}
.current-left {
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
}
.wind,
.precipitation,
.misc {
  margin-top: 1rem;
  width: 100%;
  display: flex;
}
.wi-raindrops,
.wi-strong-wind {
  font-size: 3rem;
}
.wi-barometer,
.wi-humidity,
.wi-cloud,
.wi-day-sunny {
  font-size: 1.5rem;
}
.wind-left,
.precipitation-left,
.misc-left {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
}
.wind-right,
.precipitation-right,
.misc-right {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wi-wind {
  font-size: 3rem;
  padding-left: 10px;
}
.winddirection {
  display: flex;
  align-items: end;
  gap: 10px;
}
.misc-pressure,
.misc-humidity,
.misc-cloudcover,
.misc-UV {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 3px;
}
.location {
  font-size: 2.8rem;
  font-weight: 100;
}
.observation-time {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.3rem;
}
.observation-date {
  margin-top: 1.1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.current-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-icon {
}
.current-conditions {
  color: white;
  font-size: 2.6rem;
  font-weight: 300;
}
.current-right {
  padding-left: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.current-temp {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 8rem;
  font-weight: 100;
}
.current-feels-like,
.current-dew {
  font-size: 1.6rem;
  font-weight: 300;
}
.container-prediction {
  grid-column: 1/4;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.dag-container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 25rem;
  border: 1px solid rgb(27, 18, 22);
  border-radius: 10px;
  background-color: rgba(176, 146, 144, 0.65);
  flex-shrink: 0;
  /**/
  box-shadow:
    0 0 2px rgba(176, 146, 144, 0.6),
    0 0 5px rgba(176, 146, 144, 0.6),
    0 0 15px rgba(176, 146, 144, 0.8);
}
.pred-date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 1.1rem;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.weekdag {
  background-color: rgb(27, 18, 22);
}
.weekend {
  background-color: rgb(116, 17, 63);
}
.pred-temp {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 2.3rem;
}
.temp-min {
  font-weight: 700;
  color: rgb(19, 19, 163);
}
.temp-max {
  font-weight: 700;
  color: rgb(94, 3, 46);
}
.pred-wind {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pred-rain {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.pred-regendruppel {
  font-size: 2rem;
  color: rgb(19, 19, 163);
}
.sunrise-sunset {
  margin-top: 10px;
}
.sunrise,
.sunset {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.container-search-location {
  display: flex;
  align-items: center;
  grid-column: 1/4;
  background-color: rgba(230, 230, 230, 0.521);
}
#input-location::placeholder {
  font-weight: 300;
  color: aliceblue;
}
#input-location {
  background-color: rgb(255, 252, 253);
  margin-left: 5rem;
}
.btn-location {
  width: 10rem;
  font-size: 1rem;
  height: 2rem;
  padding: 2rem;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  grid-column: 1/4;
  background-color: black;
  color: white;
}
.location-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
  padding-top: 10px;
}
.lbl-location {
  font-size: 1.5rem;
}
#input-location {
  font-size: 2rem;
  border-radius: 10px;
  padding-left: 10px;
}
.btn-location {
  height: 2rem;
  padding: 0 10px;
  border-radius: 10px;
}
/* current weather */
.current-container {
  /*background-color: rgba(64, 224, 208, 0.253);*/
  color: rgb(255, 253, 253);
  font-size: 1.3rem;
}

/* breedte */
::-webkit-scrollbar {
  width: 10px;
}

/* achtergrond */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* schuifknop */
::-webkit-scrollbar-thumb {
  background: rgb(158, 23, 86);
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 3, 46);
}
